body {
    font-family: 'Open Sans', sans-serif;
}

.banner {
  background-image: url("../assets/community-members-background.jpg");
  color: white;
  text-align: center;
}

.footer {
  background-image: url("../assets/community-footer-logo.jpg");
}


/* Your styles here ... */